# [585. Investments in 2016](https://leetcode.com/problems/investments-in-2016/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Insurance

<pre>+-------------+-------+
| Column Name | Type  |
+-------------+-------+
| pid         | int   |
| tiv_2015    | float |
| tiv_2016    | float |
| lat         | float |
| lon         | float |
+-------------+-------+</pre>
pid is the primary key (column with unique values) for this table.
Each row of this table contains information about one policy where:
pid is the policyholder's policy ID.
tiv_2015 is the total investment value in 2015 and tiv_2016 is the total investment value in 2016.
lat is the latitude of the policy holder's city. It's guaranteed that lat is not NULL.
lon is the longitude of the policy holder's city. It's guaranteed that lon is not NULL.


Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:

have the same tiv_2015 value as one or more other policyholders, and
are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique).
Round tiv_2016 to two decimal places.

The result format is in the following example.

Example 1:

Input:
Insurance table:
<pre>+-----+----------+----------+-----+-----+
| pid | tiv_2015 | tiv_2016 | lat | lon |
+-----+----------+----------+-----+-----+
| 1   | 10       | 5        | 10  | 10  |
| 2   | 20       | 20       | 20  | 20  |
| 3   | 10       | 30       | 20  | 20  |
| 4   | 10       | 40       | 40  | 40  |
+-----+----------+----------+-----+-----+</pre>
Output:
<pre>+----------+
| tiv_2016 |
+----------+
| 45.00    |
+----------+</pre>
Explanation:
The first record in the table, like the last record, meets both of the two criteria.
The tiv_2015 value 10 is the same as the third and fourth records, and its location is unique.

The second record does not meet any of the two criteria. Its tiv_2015 is not like any other policyholders and its location is the same as the third record, which makes the third record fail, too.
So, the result is the sum of tiv_2016 of the first and last record, which is 45.

In [2]:
# pandas schema

import pandas as pd

data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype(
    {'pid': 'Int64', 'tiv_2015': 'Float64', 'tiv_2016': 'Float64', 'lat': 'Float64', 'lon': 'Float64'})

# pandas df to pyspark df


from pyspark.sql import SparkSession
from  pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

insurance_df = spark.createDataFrame(insurance)
insurance_df.show(truncate=False)

+---+--------+--------+----+----+
|pid|tiv_2015|tiv_2016|lat |lon |
+---+--------+--------+----+----+
|1  |10.0    |5.0     |10.0|10.0|
|2  |20.0    |20.0    |20.0|20.0|
|3  |10.0    |30.0    |20.0|20.0|
|4  |10.0    |40.0    |40.0|40.0|
+---+--------+--------+----+----+

In [32]:
insurance_df=insurance_df\
            .withColumn('latlon',concat('lat','lon'))\

subdf1=insurance_df.groupBy('tiv_2015').count()\
            .where('count>1')

sub1= [row.tiv_2015 for row in subdf1.collect()]

subdf1=insurance_df\
            .groupBy('latlon').count()\
            .where('count=1')

sub2= [row.latlon for row in subdf1.collect()]

insurance_df\
        .where(col('tiv_2015').isin(sub1) & col('latlon').isin(sub2))\
        .select(round(sum('tiv_2016'),2).alias('tiv_2016'))\
        .show()

+--------+
|tiv_2016|
+--------+
|    45.0|
+--------+

In [33]:
# in Spark SQL

insurance_df.createOrReplaceTempView('insurance')
spark.sql('''
select round(sum(tiv_2016),2) as tiv_2016
from Insurance
where
tiv_2015 in (
    select tiv_2015 from insurance
    group by 1
    having count(1)>1
)
and
(lat,lon) in(
    select lat,lon from insurance
    group by 1,2
    having count(*) = 1
)
''').show()

+--------+
|tiv_2016|
+--------+
|    45.0|
+--------+

In [34]:
# in Spark SQL

insurance_df.createOrReplaceTempView('insurance')
spark.sql('''
select round(sum(tiv_2016),2) as tiv_2016 from
(
select
    *,
    count(tiv_2015) over (partition by tiv_2015) as filter_tiv_2015,
    count(concat(lat,lon)) over (partition by concat(lat,lon)) as filter_location
from insurance
) i where filter_tiv_2015>1 and filter_location=1
''').show()

+--------+
|tiv_2016|
+--------+
|    45.0|
+--------+

In [ ]:
spark.stop()