# [176. Second Highest Salary](https://leetcode.com/problems/second-highest-salary/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Employee

<pre>+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+</pre>
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.


Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.



Example 1:

Input:
Employee table:
<pre>+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+</pre>
Output:
<pre>+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+</pre>
Example 2:

Input:
Employee table:
<pre>+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+</pre>
Output:
<pre>+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+</pre>

In [14]:
# pandas schema

import pandas as pd

#data = [[1, 100], [2, 200], [3, 300]] # example 1
data = [[1, 100]]  # example 2
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id': 'int64', 'salary': 'int64'})



# to spark dataframe

from pyspark.sql.functions import *
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

employee_df = spark.createDataFrame(employee)
employee_df.show(truncate=False)

+---+------+
|id |salary|
+---+------+
|1  |100   |
+---+------+

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, Row
from pyspark.sql import Window

# solving in spark dataframe
employee_df.alias('e1')\
          .join(employee_df.alias('e2'),col('e1.salary')>col('e2.salary'), 'inner')\
          .select(max('e2.salary').alias('SecondHighestSalary')).show()

In [13]:
# solving in spark SQL

employee_df.createOrReplaceTempView('employee')

spark.sql('''
select max(e2.salary) as  SecondHighestSalary
from Employee e1 inner join Employee e2
on e1.salary>e2.salary
''').show()

+-------------------+
|SecondHighestSalary|
+-------------------+
|                200|
+-------------------+

In [ ]:
spark.stop()